[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
bokeh = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
patsy = "*"
sklearn = "*"
sympy = "*"
watchdog = "*"
argparse = "*"
asyncio = "*"
folium = "*"
geopandas = "*"
inflect = "*"
networkx = "*"
nltk = "*"
scipy = "*"
scikit-image = "*"
statsmodels = "*"
Jinja2 = "*"
Cartopy = "*"

[dev-packages]

[requires]
python_version = "3.7"
